@import 'normalize-lite.css';

:root {
	--frameWidth: 180px;
	--frameAspectRatio: 1.5;
}

footer {
	padding: 20px 0;
	background-color: #333;
	border-top: 3px solid lime;
}

.instagram {
	margin: 0;
	padding: 0;
	height: calc((1 / (1 * var(--frameAspectRatio))) * 100vw);
	overflow: hidden;
}
.instagram:after {
	clear: both;
	content: '';
	display: table;
}

.instagram .frame {
	position: relative;
	
	margin: 0;
	float: left;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	
	background-color: #808080;
}

.instagram .frame.unloaded img {
	width: 100%;
	height: 100%;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.instagram .frame.loading img {
	display: none;
}
.instagram .frame.loaded img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.instagram  .frame figcaption {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	
	overflow: hidden;
	
	background: 
		linear-gradient(180deg, rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)),
		url(img/instagram.svg) no-repeat 50% 50%
	;
	background-size: cover;
	
	opacity: 0;
	transition: opacity 0.5s;
}
.instagram .frame figcaption p {
	position: absolute;
	width: 100%;
	height: 25%;
	left: 0;
	bottom: -25%;
	margin: 0;
	padding: 3px;
	box-sizing: border-box;
	
	overflow: hidden;
	
	background: rgba(0,0,0, 0.5);
	border-top: 1px solid #000;
	
	color: #f0f0f0;
	text-align: center;
	font-family: monospace;
	font-size: 12px;
	
	transition: bottom 1s;
}
.instagram .frame:hover figcaption {
	opacity: 1;
}
.instagram .frame:hover figcaption p {
	bottom: 0;
}

.frame .activity-mask  {
	position: absolute;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: none;
}
.frame .activity-mask .activity-indicator {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.frame.loading .activity-mask {
	display: block;
}

$border: 1px solid #646464;
$numShots: 10;

.num-cols {
	position: absolute;
	left: -9999px;
	top: -9999px;
	
	//position: absolute;
	//left: -9999px;

	//position: absolute;
	//visibility: hidden;

	//display: none;
}
.num-cols:before {
	content: '1';
}

@media screen and (min-width: 2 * $frameWidth) {
	.instagram .frame {
		border-right: $border;
	}
}

@for $i from 2 through $numShots {
	@media screen and (min-width: $i * $frameWidth) and (max-width: ($i+1)*$frameWidth - 1) {
		.num-cols:before {
			content: '#{$i}';
		}
		.instagram .frame {
			width: 1 / $i * 100%;
		}
		.instagram {
			height: (1 / ($i * $frameAspectRatio)) * 100vw;
		}
		.instagram .frame:nth-child(#{$i}) {
			border-right: none;
		}
	}
}
@media screen and (min-width: $numShots * $frameWidth) and (max-width: ($numShots+1)*$frameWidth - 1) {
	.num-cols:before {
		content: '9999';
	}
}

@import 'hola-bars.css';